body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #f1f1f1;
  flex-direction:column;
}
.container {
background-color: lightblue;
width:500px;
height:300px;
text-align:center;
border-radius: 10px;
}
.btn {
  width:150px;
  height:50px;
}
.btnContainer{
  margin:20px;
}
.text {
  color: #000;
  font-size: larger;
  margin-top: 125px;
}